/bin/
/doc/
/docs/
/libs/
/lib/
/.crystal/
/.shards/
/examples/sample_window/sample_window
/examples/sample_window_hl/sample_window_hl


# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
